<div class="container">
  <div class="contenido">
  <h1 class="titulo">Nuevo Propietario</h1>

  <%= render 'form', owner: @owner %>

  <%= link_to  ( raw '<i class="material-icons">reply</i>'), owners_path %>
  </div>
</div>