<div class="container">
<p id="notice"><%= notice %></p>
  <div class="contenido">
    <div class="titulo">
      <h2>Mascotas reportadas</h2>
    </div>

      <div>
        <h5>¿Has visto o buscas alguna de estas mascotas?</h5>
      </div>

      <% @pets.each do |pet| %>
            <div>
              <%= image_tag pet.img.url(:thumb), style: 'text-align: center;' %>
            </div>
            <div>&nbsp;</div>
            <div class="inline-block">
              <button type="button" class="btn btn-success" style="">¡Lo ví!</button>
              <button type="button" class="btn btn-info">¡Lo busco!</button>
            </div>
      <% end %>

    <div style="text-align: center; font-size: 15px;"><%= link_to 'New Pet', new_pet_path %></div>

  </div>
  </div>

<br>


