<div class="container">
<p id="notice alert alert-success"><%= notice %></p>
  <div class="contenido">
    <div class="titulo">
      <h2 style="font-family: 'Awesome'">Mascotas perdidas</h2>
    </div>

      <div>
        <h5>¿Has visto o buscas alguna de estas mascotas?</h5>
        <div style="text-align: center; font-size: 15px;"><%= link_to '¡Se perdio mi mascota!', new_pet_path %></div>

      </div>

      <% @pets.each do |pet| %>
            <div class="imagen" style="  height: auto; text-align: center;">
            <% if !pet.img.exists? %>
                  <div class='dog'>
                    <div class='head'>
                      <div class='nose'></div>
                      <div class='ear'></div>
                    </div>
                    <div class='cuerpo'>
                      <div class='paw'></div>
                      <div class='tail'></div>
                    </div>
                    <div class='bone'>
                      <div class='left'></div>
                      <div class='right'></div>
                    </div>
                  </div>
                  <div class="sin_imagen">Sin imagen</div>
            <% else %>
              <div style="height: auto; width: auto; "><%= image_tag pet.img.url(:thumb) %></div>
            <% end %>

            </div>

            <div class="inline-block">
              <button type="button" class="btn btn-success" style="width: 100%;">¡Lo ví!</button>
            </div>
      <% end %>

    <%= will_paginate @pets, :previous_label => 'Anterior', :next_label => 'Siguiente' %>

  </div>
  </div>

<br>


