<div class="container">
  <div class="contenido">
    <h1 class="titulo">Registro nueva mascota</h1>

    <%= render 'form', pet: @pet %>

    <%= link_to  ( raw '<i class="material-icons">reply</i>'), pets_path %>
  </div>
</div>