<div class="container">
  <div class="contenido">
  <div class="titulo">¡Bienvenido!</div>
  <h3 class="titulo">¿Que buscas?</h3>
    <div>
      <%= link_to 'Recuperar mi mascota', pets_path, class: "btn btn-primary btnmenu" %>
      <button class="btn btn-success btnmenu">Vi a tu mascota</button>
      <button class="btn btn-info btnmenu">Necesito un paseador</button>
      <button class="btn btn-warning btnmenu">Registrarme como paseador</button>
      <button class="btn btn-danger btnmenu">Registrar datos de mascota</button>
    </div>
  </div>
</div>